<launch>

    <node pkg="lane_navigation" type="fake_segmentation.py" name="fake_segmentation" output="screen"/>

    <node pkg="lane_navigation" type="lane_detection_node.py" name="lane_detection" output="screen"/>

    <node pkg="lane_navigation" type="lane_following.py" name="lane_following" output="screen"/>

</launch>